@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
  }
  .ham {
    display: flex;
  }
  .section-inner,
  .nav-inner,
  .header-inner,
  .footer-inner {
    width: 80%;
  }
  .section-inner .content {
    flex-direction: column;
    padding: 30px 0px;
  }

  #about .intro {
    padding: 0;
  }
}

@media screen and (max-width: 450px) {
  #ham-nav {
    width: 100%;
  }
  .section-inner,
  .nav-inner,
  .header-inner,
  .footer-inner {
    width: 90%;
  }
}
